/* default style */
.CTE {
  &--wrapper {
    font-size: 16px;
    width: 155px;
    height: 35px;
  }

  &--input {
    font-size: 100%;
    font-family: sans-serif;
    display: block;
    width: 100%;
    height: 100%;

    line-height: 1.15;
    margin: 0;
    overflow: visible;
    border: none;
    border-radius: 0.2em;
    text-align: center;
    box-shadow: 0 0 1em 0.25em rgba(0, 0, 0, 0.1);
  }

  &--text {
    font-size: 100%;
    font-family: sans-serif;
    display: block;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
