.CTE-- {
  &wrapper {
    display: inline-grid;
    white-space: pre-wrap;
  }

  &wrapper:after, &input, &text {
    grid-area: 1 / 2;
    /* resize: none; */
    text-align: center;
    font-size: inherit;
    font-family: inherit;
  }

  &wrapper:after {
    content: attr(data-value) ' ';
    height: 0;
    visibility: hidden;
    white-space: pre-wrap;
  }

  &input {
    margin: 0;
    padding: 0;
    border:0;
    background:none;
    align-self: baseline;
    outline: none;
    box-sizing: border-box;
  }

  &text {
  }
}
